/* line 43, Chuck.scss */
#Chuck .container,
#Chuck .face,
#Chuck .hat,
#Chuck .pika-ear,
#Chuck .pika-eye,
#Chuck .pika-blush,
#Chuck .pika-mouth,
#Chuck .pika-nose,
#Chuck .hair,
#Chuck .nose,
#Chuck .ear,
#Chuck .earing,
#Chuck .neck,
#Chuck .body,
#Chuck .cape,
#Chuck .logo,
#Chuck .group,
#Chuck .fringe,
#Chuck .eye,
#Chuck .profile-card,
#Chuck .yes,
#Chuck .no,
#Chuck .info,
#Chuck .tongue,
#Chuck .profile-wrap,
#Chuck .name,
#Chuck .lip,
#Chuck .mouth,
#Chuck .eyebrow,
#Chuck .blush,
#Chuck .collar,
#Chuck .glasses {
  position: absolute;
}
/* line 47, Chuck.scss */
#Chuck .container {
  position: absolute;
  margin: auto;
  bottom: 0;
  right: 0;
  left: 0;
  width: 200px;
  height: 200px;
}
/* line 57, Chuck.scss */
#Chuck .profile {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border: 2px solid #FFF;
  overflow: hidden;
  background: #b7d8c0;
}
/* line 67, Chuck.scss */
#Chuck .group {
  left: -7px;
}
/* line 71, Chuck.scss */
#Chuck .face {
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  z-index: 20;
  top: 26px;
  left: 51px;
  width: 110px;
  height: 120px;
  background: #f0beaf;
}
/* line 79, Chuck.scss */
#Chuck .face:after {
  content: "";
  position: absolute;
  z-index: 20;
  top: 57px;
  left: 17px;
  width: 45px;
  height: 45px;
  background: #f0beaf;
  transform: rotate(-45deg);
  border-bottom: 1px solid #424B54;
  border-left: 1px solid #424B54;
  border-right: 1px solid transparent;
  border-top: 1px solid transparent;
  border-radius: 0 0 0 10px;
  -webkit-border-radius: 0 0 0 10px;
  -moz-border-radius: 0 0 0 10px;
  display: none;
}
/* line 99, Chuck.scss */
#Chuck .hat {
  z-index: 302;
  left: 45px;
  top: 20px;
  width: 100px;
  height: 33px;
  background: #fde000;
  border-radius: 100px 100px 0 0;
  transform: rotate(-16deg);
}
/* line 108, Chuck.scss */
#Chuck .hat:after {
  content: "";
  position: absolute;
  background: #181010;
  border-radius: 100px 100px 0 0;
  width: 100px;
  height: 7px;
  top: 27px;
}
/* line 118, Chuck.scss */
#Chuck .hat .pika-ear {
  height: 50px;
  width: 15px;
  background: #fde000;
  border-radius: 50%;
  overflow: hidden;
}
/* line 124, Chuck.scss */
#Chuck .hat .pika-ear:before {
  content: "";
  position: absolute;
  height: 9px;
  width: 15px;
  background: #000000;
}
/* line 132, Chuck.scss */
#Chuck .hat .pika-ear.left {
  left: 23px;
  top: -22px;
  transform: rotate(-20deg);
}
/* line 137, Chuck.scss */
#Chuck .hat .pika-ear.right {
  left: 64px;
  top: -22px;
  transform: rotate(20deg);
}
/* line 143, Chuck.scss */
#Chuck .hat .pika-eye {
  height: 10px;
  width: 13px;
  top: 5px;
  left: 25px;
  border-radius: 100%;
  background: #000000;
}
/* line 150, Chuck.scss */
#Chuck .hat .pika-eye:before {
  content: "";
  position: absolute;
  top: 1px;
  left: 2px;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background: white;
}
/* line 161, Chuck.scss */
#Chuck .hat .pika-eye.right {
  left: 62px;
}
/* line 165, Chuck.scss */
#Chuck .hat .pika-blush {
  height: 10px;
  width: 10px;
  top: 12px;
  left: 11px;
  border-radius: 100px;
  background: #e92929;
}
/* line 172, Chuck.scss */
#Chuck .hat .pika-blush:before {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  top: -1px;
  left: 68px;
  border-radius: 100px;
  background: red;
}
/* line 183, Chuck.scss */
#Chuck .hat .pika-mouth {
  z-index: 20;
  width: 10px;
  height: 4px;
  left: 45px;
  top: 21px;
  border-top: 2px solid black;
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-radius: 50%;
}
/* line 194, Chuck.scss */
#Chuck .hat .pika-mouth:after, #Chuck .hat .pika-mouth:before {
  content: "";
  position: absolute;
}
/* line 198, Chuck.scss */
#Chuck .hat .pika-mouth:before {
  left: -8px;
  top: -10px;
  width: 10px;
  height: 8px;
  border-bottom: 2px solid black;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-radius: 50%;
  transform: translateZ(1px) rotate(28deg);
}
/* line 210, Chuck.scss */
#Chuck .hat .pika-mouth:after {
  left: 6px;
  top: -10px;
  width: 10px;
  height: 8px;
  border-bottom: 2px solid black;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-radius: 50%;
  transform: translateZ(1px) rotate(-24deg);
}
/* line 223, Chuck.scss */
#Chuck .hat .pika-nose {
  height: 3px;
  width: 3px;
  left: 47px;
  top: 13px;
  border-top: 2px solid black;
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}
/* line 235, Chuck.scss */
#Chuck .hair {
  z-index: 3;
  top: 33px;
  left: 52px;
  width: 110px;
  height: 116px;
  border-radius: 100px;
  background: #181010;
}
/* line 245, Chuck.scss */
#Chuck .ear {
  z-index: 4;
  top: 91px;
  left: 41px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  background: #f0beaf;
}
/* line 253, Chuck.scss */
#Chuck .ear:before {
  position: absolute;
  top: 8px;
  left: 4px;
  content: '';
  width: 20px;
  height: 15px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  background: #ED8A80;
}
/* line 265, Chuck.scss */
#Chuck .ear.right {
  top: 86px;
  left: 145px;
}
/* line 269, Chuck.scss */
#Chuck .earing {
  z-index: 305;
  height: 5px;
  width: 5px;
  top: 115px;
  left: 61px;
  border: 2px solid #f9db83;
  background: #d20000;
  border-radius: 100px;
}
/* line 280, Chuck.scss */
#Chuck .fringe {
  z-index: 301;
  top: 28px;
  left: 53px;
  width: 61px;
  height: 102px;
  border-left: 29px solid #181010;
  border-right: 0 none transparent;
  border-top: 0 none transparent;
  border-bottom: 0 none transparent;
  border-radius: 100%;
  -webkit-transform: rotate(59deg);
  transform: rotate(59deg);
}
/* line 293, Chuck.scss */
#Chuck .fringe:before {
  position: absolute;
  content: "";
  left: 15px;
  top: -33px;
  width: 8px;
  height: 60px;
  border-right: 15px solid #181010;
  border-left: 1px solid transparent;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-radius: 100px;
  border-radius: 50px 0;
  transform: translateZ(1px) rotate(-98deg);
}
/* line 308, Chuck.scss */
#Chuck .fringe:after {
  position: absolute;
  content: "";
  left: 37px;
  top: 25px;
  width: 30px;
  height: 68px;
  border-right: 4px solid #181010;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
  border-radius: 20px 0;
  display: none;
}
/* line 324, Chuck.scss */
#Chuck .eyebrow {
  z-index: 300;
  top: 81px;
  left: 76px;
  width: 20px;
  height: 8px;
  border-top: 2px solid #646b73;
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-radius: 100%;
}
/* line 335, Chuck.scss */
#Chuck .eyebrow:before {
  position: absolute;
  content: '';
  top: -2px;
  left: 41px;
  width: 20px;
  height: 8px;
  border-top: 2px solid #646b73;
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-radius: 100%;
}
/* line 350, Chuck.scss */
#Chuck .glasses {
  z-index: 35;
  top: 92px;
  left: 66px;
  height: 14px;
  width: 33px;
  border-top: 2px solid #646b73;
  border-left: 2px solid #646b73;
  border-right: 2px solid #646b73;
  border-bottom: 1px solid transparent;
  border-radius: 7px;
}
/* line 362, Chuck.scss */
#Chuck .glasses::before {
  position: absolute;
  content: '';
  z-index: 35;
  top: -3px;
  left: 45px;
  height: 14px;
  width: 33px;
  border-top: 2px solid #646b73;
  border-left: 2px solid #646b73;
  border-right: 2px solid #646b73;
  border-bottom: 1px solid transparent;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
}
/* line 376, Chuck.scss */
#Chuck .glasses:after {
  position: absolute;
  content: '';
  z-index: 35;
  top: 5px;
  left: 33px;
  width: 12px;
  height: 15px;
  border-top: 2px solid #646b73;
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}
/* line 391, Chuck.scss */
#Chuck .eye {
  z-index: 30;
  top: 96px;
  left: 81px;
  width: 10px;
  height: 10px;
  background: #424B54;
  transform: rotate(20deg);
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
}
/* line 401, Chuck.scss */
#Chuck .eye.right {
  left: 122px;
  transform: rotate(-25deg);
}
/* line 406, Chuck.scss */
#Chuck .blush {
  z-index: 999;
  top: 112px;
  left: 61px;
  width: 15px;
  height: 11px;
  background: #E3879E;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  opacity: 0.4;
}
/* line 415, Chuck.scss */
#Chuck .blush:before {
  position: absolute;
  content: '';
  left: 75px;
  width: 15px;
  height: 11px;
  background: #E3879E;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
}
/* line 427, Chuck.scss */
#Chuck .nose {
  z-index: 36;
  top: 102px;
  left: 98px;
  width: 11px;
  height: 10px;
  border-left: 2px solid #424B54;
  border-bottom: 2px solid #424B54;
  border-right: 1px solid transparent;
  border-top: 2px solid #424B54;
  border-radius: 100%;
  background: #f0beaf;
}
/* line 440, Chuck.scss */
#Chuck .lip {
  z-index: 20;
  top: 115px;
  left: 95px;
  width: 30px;
  height: 10px;
  border-radius: 100px;
  border-bottom: 2px solid #424B54;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}
/* line 452, Chuck.scss */
#Chuck .mouth {
  z-index: 20;
  width: 50px;
  height: 10px;
  left: 83px;
  top: 117px;
  border-bottom: 2px solid #424B54;
  border-top: 0 solid transparent;
  border-left: 0 solid transparent;
  border-right: 0 solid transparent;
  border-radius: 50%;
}
/* line 463, Chuck.scss */
#Chuck .mouth:after, #Chuck .mouth:before {
  content: "";
  position: absolute;
}
/* line 467, Chuck.scss */
#Chuck .mouth:before {
  left: -2px;
  top: 4px;
  width: 10px;
  height: 8px;
  border-left: 2px solid #424B54;
  border-top: 0 solid transparent;
  border-bottom: 0 solid transparent;
  border-right: 0 solid transparent;
  border-radius: 10px;
}
/* line 478, Chuck.scss */
#Chuck .mouth:after {
  left: 38px;
  top: 4px;
  width: 10px;
  height: 8px;
  border-right: 2px solid #424B54;
  border-top: 0 solid transparent;
  border-left: 0 solid transparent;
  border-bottom: 0 solid transparent;
  border-radius: 10px;
}
/* line 491, Chuck.scss */
#Chuck .tongue {
  top: 4px;
  left: -6px;
  width: 30px;
  height: 20px;
  background: #f6828c;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  display: none;
}
/* line 501, Chuck.scss */
#Chuck .neck {
  z-index: 13;
  width: 26px;
  height: 30px;
  background: #f0beaf;
  top: 127px;
  left: 97px;
}
/* line 510, Chuck.scss */
#Chuck .body {
  z-index: 10;
  top: 150px;
  left: 65px;
  width: 90px;
  height: 150px;
  background: #dddddd;
  overflow: hidden;
  border: 2px solid #646b73;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}
/* line 520, Chuck.scss */
#Chuck .body:after {
  content: "";
  position: absolute;
  height: 50px;
  width: 5px;
  left: 39px;
  border-right: 2px solid #646b73;
}
/* line 529, Chuck.scss */
#Chuck .collar {
  z-index: 15;
  top: 151px;
  left: 86px;
  width: 20px;
  height: 10px;
  transform: rotate(19deg);
  background: #dddddd;
  border: 2px solid #646b73;
}
/* line 539, Chuck.scss */
#Chuck .collar:after {
  content: "";
  position: absolute;
  left: 22px;
  top: -11px;
  width: 20px;
  height: 10px;
  background: #dddddd;
  border: 2px solid #646b73;
  transform: rotate(-41deg);
}
/* line 552, Chuck.scss */
#Chuck .cape {
  z-index: 4;
  top: 148px;
  left: 43px;
  width: 130px;
  height: 160px;
  background: #E15554;
  border-radius: 60px 60px 0 0;
}
/* line 562, Chuck.scss */
#Chuck .logo {
  top: 10px;
  left: 16px;
  width: 27px;
  height: 15px;
  border-bottom: 20px solid #ECD688;
  border-left: 23px solid transparent;
  border-right: 22px solid transparent;
}
/* line 570, Chuck.scss */
#Chuck .logo:before {
  position: absolute;
  content: '';
  top: 35px;
  left: -22px;
  border-top: 40px solid #ECD688;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
}
