$skin: #ffd1c2;
$hair: #2f2727;
$pink: #F6828C;
$cloth:#433c3c;
@mixin border($b) {
  border-radius: $b;
  -webkit-border-radius: $b;
  -moz-border-radius: $b;
}
#Erin{
.container,
.face,
.hair,
.nose,
.ear,
.neck,
.body,
.cape,
.logo,
.group,
.fringebase,
.fringe,
.eye,
.profile-card,
.yes,
.no,
.info,
.tongue,
.profile-wrap,
.name,
.mouth,
.eyebrow,
.blush,
.collar,
.necklace,
.glasses {
  position: absolute;
}


.container {
  position: absolute;
  margin: auto;
  bottom: 0;
  right: 0;
  left: 0;
  width: 200px;
  height: 200px;
}

.profile {
  position: relative;
  width: 200px;
  height: 200px;
  @include border(100%);
  border: 2px solid #FFF;
  overflow: hidden;
  background: #66BAB7;
}

.group {
  left: -7px;
}

.face {
  @include border(100px);
  z-index: 20;
  top: 54px;
  left: 70px;
  width: 80px;
  height: 95px;
  background: $skin;
  &:after{
    content: "";
    position: absolute;
    z-index: 20;
    top: 57px;
    left: 17px;
    width: 45px;
    height: 45px;
    background: $skin;
    transform: rotate(-45deg);
    border-bottom: 1px solid #424B54;
    border-left: 1px solid #424B54;
    border-right: 1px solid transparent;
    border-top: 1px solid transparent;

    @include border(0 0 0 10px);
    display: none;
  }
}

.hair {
  z-index: 3;
  top: 30px;
  left: 56px;
  width: 110px;
  height: 118px;
  border-radius: 100px 100px 30px 30px;
  background: $hair;
  &:before,
  &:after {
    position: absolute;
    content: '';
  }
  &:before {
    position: absolute;
    content: '';
    top: 44px;
    left: -12px;
    width: 75px;
    height: 89px;
    //background: $hair;
    border-left: 30px solid $hair;
    @include border(0 0 50px 40px);
    transform: rotate(21deg);
  }
  &:after {
    position: absolute;
    content: '';
    top: 43px;
    left: 17px;
    width: 75px;
    height: 89px;
    //background: $hair;
    border-right: 30px solid $hair;
    @include border(0 0 40px 50px);
    transform: rotate(-22deg);
  }
}

.ear {
  z-index: 2;
  top: 93px;
  left: 61px;
  width: 30px;
  height: 30px;
  @include border(100%);
  background: $skin;
  &:before {
    position: absolute;
    top: 8px;
    left: 4px;
    content: '';
    width: 20px;
    height: 15px;
    @include border(100%);
    background: #ED8A80;
  }
}

.ear.right {
  left: 130px;
}

.fringebase {
  z-index: 99;
  top: 40px;
  left: 79px;
  width: 61px;
  //height: 47px;
  background:$hair;
  border-radius:10px;
  &:before {
    position: absolute;
    content: "";
    left: -18px;
    top: 12px;
    width: 55px;
    height: 63px;
    border-left: 25px solid $hair;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-right: 1px solid transparent;
    border-radius:100px;
    transform: rotate(57deg);
    display: none;
  }
  &:after{
    position: absolute;
    content: "";
    left: 17px;
    top: -1px;
    width: 30px;
    height: 65px;
    border-right: 20px solid $hair;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
    border-radius:30px 0;
    transform: rotate(-67deg);
  }
}
.fringe.left{
  z-index: 100;
left: 86px;
top: 58px;
width: 30px;
height: 31px;
border-left: 4px solid $skin;
border-top: 1px solid transparent;
border-bottom: 1px solid transparent;
border-right: 1px solid transparent;
border-radius: 0 20px;
&:after{
  content: "";
  position: absolute;
  z-index: 100;
left: 14px;
top: 3px;
width: 30px;
height: 27px;
border-left: 3px solid $skin;
border-top: 1px solid transparent;
border-bottom: 1px solid transparent;
border-right: 1px solid transparent;
border-radius: 0 20px;
}
}
.fringe.right{
  z-index: 100;
  left: 100px;
  top: 64px;
  width: 30px;
  height: 27px;
  border-right: 2px solid $skin;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
  border-radius: 20px 0;
}

.eyebrow {
  z-index: 300;
  top: 80px;
  left: 78px;
  width: 20px;
  height: 8px;
  border-top: 2px solid #646B73;
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-radius: 100%;
  transform: rotate(8deg);
  &:before {
    position: absolute;
    content: '';
    top: -8px;
    left: 41px;
    width: 20px;
    height: 8px;
    border-top: 2px solid #646B73;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-radius: 100%;
    transform: rotate(-15deg);

}
}
.glasses{
  z-index: 35;
  top: 96px;
  left: 66px;
  height: 16px;
  width: 33px;
  border: 3px solid #646B73;
  border-radius: 7px;
  &::before{
    position: absolute;
    content: '';
    z-index: 35;
    top: -3px;
    left: 45px;
    height: 16px;
    width: 33px;
    border: 3px solid #646B73;
    @include border(7px);
  }
  &:after{
    position: absolute;
    content: '';
    z-index: 35;
    top: 5px;
    left: 32px;
    width: 15px;
    height: 15px;
    border-top: 3px solid #646B73;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-radius: 10px;
  }
}

.eye {
  z-index: 30;
  top: 95px;
  left: 83px;
  width: 12px;
  height: 6px;
  border-top: 5px solid #424B54;
  border-radius: 100%;
  transform: rotate(12deg);
}
.eye.right{
  left: 125px;
  transform: rotate(-12deg);
}

.blush {
  z-index: 999;
  top: 109px;
  left: 77px;
  width: 15px;
  height: 7px;
  background: #E3879E;
  @include border(100%);
  opacity: 0.4;
  &:before{
    position: absolute;
    content: '';
    left: 52px;
    width: 15px;
  height: 7px;
  background: #E3879E;
  @include border(100%);

  }
}

.nose {
  z-index: 20;
  top: 109px;
  left: 107px;
  width: 2px;
  height: 3px;
  border-left: 2px solid #424B54;
  border-bottom: 1px solid #424B54;
  border-right: 1px solid transparent;
  border-top: 1px solid transparent;
  border-radius: 0 0 0 3px;
  transform: rotate(18deg);
  //@include border(100px);
}
.lip{
  z-index: 20;
    top: 115px;
    left: 95px;
    width: 30px;
    height: 10px;
    border-radius:100px;
    border-bottom: 2px solid #424B54;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}
.mouth {
  z-index: 20;
  width: 22px;
  height: 10px;
  left: 100px;
  top: 120px;
  background: #424B54;
  border-radius: 0 0 100px 100px;
  overflow: hidden;
}

.tongue {
  top: 4px;
  left: -6px;
  width: 30px;
  height: 20px;
  background: $pink;
  @include border(100%);
}

.neck {
  z-index: 13;
  width: 25px;
  height: 30px;
  background: $skin;
  top: 130px;
  left: 97px;
  @include border(8px);
}

.body {
  z-index: 10;
  top: 150px;
  left: 65px;
  width: 90px;
  height: 150px;
  background: $skin;
  overflow: hidden;
  @include border(100px);
  .collar{
      position: absolute;
      content: '';
      top:-4px;
      left: 14px;
      width: 61px;
    height: 54px;
    border-radius: 100px 100px 0 0;
    background: $cloth;
  }
  .necklace{
    z-index: 4;
    top: -21px;
    left: 27px;
    height: 33px;
    width: 30px;
    @include border(100px);
    border: 2px dotted white;
  }
}
}
