$white:#F0F0F0;
$grey:#999999;
$pink:#FCE3E2;
$black:#1E1E1E;
$red:#A71812;
$break:400px;
$title:'Macondo', cursive;
$content:'Bitter', serif;
body {
  background: $white;
  min-height: 100%;
  margin: 0;
}
.content{
  min-height: 100vh;
  position: relative;
}
.title {
    padding: 50px 0 20px 0;
    width: 100%;
    margin: 0;
    font-family: $title;
    text-align: center;
    color:$black;
    @media screen and (max-width: $break) {
      font-size:50px;
    }
    @media screen and (min-width: $break) {
      font-size: 80px;
    }
  }
  .subtitle{
      font-family: $title;
      font-size: 23px;
      position: relative;
      width: 80vw;
      margin: auto;
      text-align: center;
      color:$black;
      top: -20px;
    }


.description p{
  padding-top: 15px;
  font-family: $content;
  font-size: 20px;
  text-align: center;
  color:$grey;
  margin:0 20px 0 20px;
}
#body{
  padding-bottom: 120px;
.container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  justify-content: center;
  padding-bottom: 30px;
}

#Xuefei,#Tsing,#Joy,#Quinn,#Angela,#Chuck,#Pmc,#Su3,#Yoga,#Christina,#Mengru{
  position: relative;
    margin-top: 200px;
    width: 250px;
display: flex;
padding:30px;
cursor: pointer;
}
}
#image{
  display: none;
  position: absolute;
  .content{
    position: absolute;
    width: 400px;
    height: 400px;
    background: $pink;
    border-radius: 10px;
  }
}
#footer{
  position: absolute;
  bottom: 0;
  text-align: center;
  color:$red;
  font-family: $content;
  padding: 10px 0;
  width: 100%;
  .love{
    position: relative;
    width: 150px;
    margin: auto;
    &:before{
      content:"";
      position: absolute;
      width: 35px;
      height: 53px;
      top:8px;
      left: -13px;
      border-left: 2px solid $red;
      border-top: 2px solid $red;
      border-bottom: 2px solid $red;
    }
    &:after{
      content:"";
      position: absolute;
      width: 35px;
      height: 53px;
      top:8px;
      left: 127px;
      border-right: 2px solid $red;
      border-top: 2px solid $red;
      border-bottom: 2px solid $red;
    }
  }

}
.name{
  display: none;
  position: absolute;
  bottom: -40px;
  left: 0;
  right: 0;
  font-family: $title;
  font-size: 30px;
  color: $black;
  text-align: center;
}
.body{
  font-family: $title;
}
.note{

  color:$red!important;
  @media screen and (max-width: $break) {
    font-size:13px!important;
  }
  @media screen and (min-width: $break) {
    font-size: 15px!important;  }
}
