/* line 9, index.scss */
body {
  background: #f0f0f0;
}

/* line 12, index.scss */
.title {
  padding: 50px 0 20px 0;
  width: 100%;
  margin: 0;
  font-family: "Macondo", cursive;
  text-align: center;
  color: #1e1e1e;
}
@media screen and (max-width: 400px) {
  /* line 12, index.scss */
  .title {
    font-size: 50px;
  }
}
@media screen and (min-width: 400px) {
  /* line 12, index.scss */
  .title {
    font-size: 80px;
  }
}

/* line 26, index.scss */
.subtitle {
  font-family: "Macondo", cursive;
  font-size: 30px;
  position: relative;
  width: 100%;
  margin: 0;
  text-align: center;
  color: #1e1e1e;
  top: -20px;
}

/* line 38, index.scss */
.description p {
  font-family: "Bitter", serif;
  font-size: 20px;
  text-align: center;
  color: #999999;
}

/* line 44, index.scss */
.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  justify-content: center;
  padding-bottom: 30px;
}

/* line 53, index.scss */
#Xuefei, #Tsing, #Joy, #Quinn, #Christina {
  position: relative;
  margin-top: 200px;
  width: 250px;
  display: flex;
  padding: 30px;
  cursor: pointer;
}

/* line 61, index.scss */
#image {
  display: none;
  position: absolute;
}
/* line 64, index.scss */
#image .content {
  position: absolute;
  width: 400px;
  height: 400px;
  background: #fce3e2;
  border-radius: 10px;
}

/* line 72, index.scss */
footer {
  text-align: center;
  color: #a71812;
  font-family: "Bitter", serif;
  padding: 10px 0;
}
/* line 77, index.scss */
footer .love {
  position: relative;
  width: 150px;
  margin: auto;
}
/* line 81, index.scss */
footer .love:before {
  content: "";
  position: absolute;
  width: 35px;
  height: 53px;
  top: 8px;
  left: -13px;
  border-left: 2px solid #a71812;
  border-top: 2px solid #a71812;
  border-bottom: 2px solid #a71812;
}
/* line 92, index.scss */
footer .love:after {
  content: "";
  position: absolute;
  width: 35px;
  height: 53px;
  top: 8px;
  left: 127px;
  border-right: 2px solid #a71812;
  border-top: 2px solid #a71812;
  border-bottom: 2px solid #a71812;
}

/* line 106, index.scss */
.name {
  display: none;
  position: absolute;
  bottom: -40px;
  font-family: "Macondo", cursive;
  font-size: 30px;
  color: #1e1e1e;
}
