/* line 9, index.scss */
body {
  background: #f0f0f0;
  min-height: 100%;
  margin: 0;
}

/* line 14, index.scss */
.content {
  min-height: 100vh;
  position: relative;
}

/* line 18, index.scss */
.title {
  padding: 50px 0 20px 0;
  width: 100%;
  margin: 0;
  font-family: "Macondo", cursive;
  text-align: center;
  color: #1e1e1e;
}
@media screen and (max-width: 400px) {
  /* line 18, index.scss */
  .title {
    font-size: 50px;
  }
}
@media screen and (min-width: 400px) {
  /* line 18, index.scss */
  .title {
    font-size: 80px;
  }
}

/* line 32, index.scss */
.subtitle {
  font-family: "Macondo", cursive;
  font-size: 23px;
  position: relative;
  width: 80vw;
  margin: auto;
  text-align: center;
  color: #1e1e1e;
  top: -20px;
}

/* line 44, index.scss */
.description p {
  padding-top: 15px;
  font-family: "Bitter", serif;
  font-size: 20px;
  text-align: center;
  color: #999999;
  margin: 0 20px 0 20px;
}

/* line 52, index.scss */
#body {
  padding-bottom: 120px;
}
/* line 54, index.scss */
#body .container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  justify-content: center;
  padding-bottom: 30px;
}
/* line 64, index.scss */
#body #Xuefei, #body #Tsing, #body #Joy, #body #Quinn, #body #Angela, #body #Chuck, #body #Pmc, #body #Yozen, #body #Ysy, #body #Su3, #body #Yoga, #body #Christina, #body #Mengru {
  position: relative;
  margin-top: 200px;
  width: 250px;
  display: flex;
  padding: 30px;
  cursor: pointer;
}

/* line 73, index.scss */
#image {
  display: none;
  position: absolute;
}
/* line 76, index.scss */
#image .content {
  position: absolute;
  width: 400px;
  height: 400px;
  background: #fce3e2;
  border-radius: 10px;
}

/* line 84, index.scss */
#footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  color: #a71812;
  font-family: "Bitter", serif;
  padding: 10px 0;
  width: 100%;
}
/* line 92, index.scss */
#footer .love {
  position: relative;
  width: 150px;
  margin: auto;
}
/* line 96, index.scss */
#footer .love:before {
  content: "";
  position: absolute;
  width: 35px;
  height: 53px;
  top: 8px;
  left: -13px;
  border-left: 2px solid #a71812;
  border-top: 2px solid #a71812;
  border-bottom: 2px solid #a71812;
}
/* line 107, index.scss */
#footer .love:after {
  content: "";
  position: absolute;
  width: 35px;
  height: 53px;
  top: 8px;
  left: 127px;
  border-right: 2px solid #a71812;
  border-top: 2px solid #a71812;
  border-bottom: 2px solid #a71812;
}

/* line 121, index.scss */
.name {
  display: none;
  position: absolute;
  bottom: -40px;
  left: 0;
  right: 0;
  font-family: "Macondo", cursive;
  font-size: 30px;
  color: #1e1e1e;
  text-align: center;
}

/* line 132, index.scss */
.body {
  font-family: "Macondo", cursive;
}

/* line 135, index.scss */
.note {
  color: #a71812 !important;
}
@media screen and (max-width: 400px) {
  /* line 135, index.scss */
  .note {
    font-size: 13px!important;
  }
}
@media screen and (min-width: 400px) {
  /* line 135, index.scss */
  .note {
    font-size: 15px!important;
  }
}
