$yellow:#F3E761;
$white:#F0F0F0;
$blue:#97C2B9;
$pink:#E9ABC7;
$brown:#CAA882;
$red:#d20000;
$break:400px;
$title:'Macondo', cursive;
$content:'Bitter', serif;
body {
  background: $white;
}
.title p{
    padding: 50px 0 20px 0;
    width: 100%;
    margin: 0;
    font-family: $title;
    text-align: center;
    color:$brown;
    @media screen and (max-width: $break) {
      font-size:60px;
    }
    @media screen and (min-width: $break) {
      font-size: 80px;
    }
}
.description p{
  font-family: $content;
  font-size: 20px;
  text-align: center;
  color:$blue;
}
.container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  justify-content: center;
  padding-bottom: 30px;
}
#Xuefei,#Tsing,#Joy,#Quinn,#Christina{
  position: relative;
    margin-top: 200px;
    width: 250px;
display: flex;
padding:30px;
cursor: pointer;
}
#image{
  display: none;
  position: absolute;
  .content{
    position: absolute;
    width: 400px;
    height: 400px;
    background: $pink;
    border-radius: 10px;
  }
}
footer{
  text-align: center;
  color:$red;
  font-family: $content;
  padding: 10px 0;
  .love{
    position: relative;
    width: 150px;
    margin: auto;
    &:before{
      content:"";
      position: absolute;
      width: 35px;
      height: 53px;
      top:8px;
      left: -13px;
      border-left: 2px solid $red;
      border-top: 2px solid $red;
      border-bottom: 2px solid $red;
    }
    &:after{
      content:"";
      position: absolute;
      width: 35px;
      height: 53px;
      top:8px;
      left: 127px;
      border-right: 2px solid $red;
      border-top: 2px solid $red;
      border-bottom: 2px solid $red;
    }
  }

}
