$skin: #F0BEAF;
$hair: #654432;
$pink: #F6828C;
$cloth:#f0f2f2;
$black:#424B54;
@mixin border($b) {
  border-radius: $b;
  -webkit-border-radius: $b;
  -moz-border-radius: $b;
}
@mixin transform($t) {
  transform: $t;
  -webkit-transform: $t;/* Safari and Chrome */
  -moz-transform: $t;/* Firefox */
  -ms-transform: $t;
}
#Pmc{
.container,
.face,
.hair,
.nose,
.ear,
.neck,
.body,
.cape,
.logo,
.group,
.fringe,
.eye,
.profile-card,
.yes,
.no,
.info,
.teeth,
.profile-wrap,
.name,
.lip,
.mouth,
.eyebrow,
.blush,
.string,
.glasses {
  position: absolute;
}
body{
  background: pink;
}

.container {
  position: absolute;
  margin: auto;
  bottom: 0;
  right: 0;
  left: 0;
  width: 200px;
  height: 200px;
}

.profile {
  position: relative;
  width: 200px;
  height: 200px;
  @include border(100%);
  border: 2px solid #FFF;
  overflow: hidden;
  background: #d7d7d7;
}

.group {
  left: -7px;
}

.face {
  @include border(100px);
  z-index: 20;
  top: 49px;
  left: 70px;
  width: 80px;
  height: 97px;
  background: $skin;
  &:after{
    content: "";
    position: absolute;
    z-index: 20;
    top: 57px;
    left: 17px;
    width: 45px;
    height: 45px;
    background: $skin;
    transform: rotate(-45deg);
    border-bottom: 1px solid $black;
    border-left: 1px solid $black;
    border-right: 1px solid transparent;
    border-top: 1px solid transparent;

    @include border(0 0 0 10px);
    display: none;
  }
}

.hair {
  z-index: 3;
  top: 30px;
  left: 58px;
  width: 107px;
  height: 170px;
  border-radius: 100px 100px 30px 30px;
  background: $hair;
}

.ear {
  z-index: 2;
  top: 19px;
  left: 62px;
  width: 20px;
  height: 40px;
  @include border(100%);
  background: $skin;
}

.ear.right {
  left: 139px;
}

.fringe {
  z-index: 99;
  top: 37px;
  left:83px;
  width: 50px;
  height: 50px;
  background:$hair;
  @include border(100%);
  &:before {
    position: absolute;
    content: "";
    left: -17px;
    top: 18px;
    width: 30px;
    height: 30px;
    background: $hair;
    @include border(100%);
    @include transform(rotate(20deg));
  }
  &:after{
    position: absolute;
    content: "";
    left: 39px;
    top: 18px;
    width: 30px;
    height: 30px;
    background: $hair;
    @include border(100%);  }
}

.eyebrow {
  display: none;
  z-index: 300;
  top: 86px;
  left: 78px;
  width: 20px;
  height: 8px;
  border-top: 2px solid #646B73;
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-radius: 100%;
  transform: rotate(5deg);
  &:before {
    position: absolute;
    content: '';
    top: -5px;
    left: 39px;
    width: 20px;
    height: 8px;
    border-top: 2px solid #646B73;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-radius: 100%;
    transform: rotate(-7deg);

}
}

.eye {
  z-index: 30;
  top: 100px;
  left: 82px;
  width: 5px;
  height: 5px;
  background: $black;
  border: 2px solid $black;
  @include border(0 0 100% 100%);
  &:before {
    position: absolute;
    content: '';
    top: -2px;
    left: -6px;
    width: 15px;
    height: 11px;
    border-top: 2px solid $black;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    border-bottom: 1px solid transparent;
  }
}
.eye.right{
  left: 128px;
}

.blush {
  z-index: 999;
  top: 112px;
  left: 72px;
  width: 15px;
  height: 7px;
  background: #E3879E;
  @include border(100%);
  opacity: 0.4;
  &:before{
    position: absolute;
    content: '';
    left: 60px;
    width: 15px;
  height: 7px;
  background: #E3879E;
  @include border(100%);

  }
}

.nose {
  z-index: 20;
  top: 103px;
  left: 105px;
  width: 6px;
  height: 6px;
  border-left: 2px solid $black;
  border-bottom: 2px solid $black;
  border-right: 2px solid transparent;
  border-top: 2px solid transparent;
  @include border(5px);
  transform: rotate(-45deg);
  //@include border(100px);
}
.lip{
  z-index: 20;
    top: 115px;
    left: 95px;
    width: 30px;
    height: 10px;
    border-radius:100px;
    border-bottom: 2px solid $black;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}
.mouth {
  z-index: 20;
  width: 6px;
  height: 13px;
  left: 101px;
  top: 112px;
  @include border(  0 0 6px 0);
  border-right: 2px solid $black;
  border-bottom: 2px solid $black;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  &:after{
    content: "";
    position: absolute;
    left: 6px;
    top:-2px;
    width: 6px;
    height: 13px;
    @include border( 0 0 0 6px);
    border-left: 2px solid $black;
    border-bottom: 2px solid $black;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
  }
}

.neck {
  display: none;
  z-index: 13;
  width: 25px;
  height: 30px;
  background: $skin;
  top: 130px;
  left: 97px;
  @include border(100%);
}

.body {
  z-index: 10;
  top: 157px;
  left: 73px;
  width: 75px;
  height: 35px;
  background: $cloth;
  text-align: center;
  line-height: 35px;
  color: $black;
  font-size: 25px;
  //@include border(100px);
  .string{
    z-index: 11;
    height: 29px;
    width: 8px;
    top: -26px;
    left: -14px;
    @include border(100%);
    border-top: 3px solid $black;
    border-left: 3px solid $black;
    border-bottom: 3px solid transparent;
    border-right: 3px solid transparent;
    @include transform(rotate(-45deg));
    &:after{
      content: "";
      position: absolute;
      left: 59px;
      top:62px;
      height: 29px;
      width: 8px;
      @include border(100%);
      border-bottom: 3px solid $black;
      border-left: 3px solid $black;
      border-top: 3px solid transparent;
      border-right: 3px solid transparent;
      @include transform(rotate(-86deg));
    }
  }
}


.cape {
  z-index: 4;
  top: 148px;
  left: 43px;
  width: 130px;
  height: 160px;
  background: #E15554;
  border-radius: 60px 60px 0 0;
}

.logo {
  top: 10px;
  left: 16px;
  width: 27px;
  height: 15px;
  border-bottom: 20px solid #ECD688;
  border-left: 23px solid transparent;
  border-right: 22px solid transparent;
  &:before {
    position: absolute;
    content: '';
    top: 35px;
    left: -22px;
    border-top: 40px solid #ECD688;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
  }
}
}
