/* line 18, Su3.scss */
body {
  background: pink;
}

/* line 49, Su3.scss */
#Su3 .container,
#Su3 .face,
#Su3 .hair,
#Su3 .hair2,
#Su3 .nose,
#Su3 .ear,
#Su3 .neck,
#Su3 .body,
#Su3 .cape,
#Su3 .logo,
#Su3 .group,
#Su3 .fringe,
#Su3 .eye,
#Su3 .profile-card,
#Su3 .bowtie,
#Su3 .leftCollar,
#Su3 .rightCollar,
#Su3 .info,
#Su3 .teeth,
#Su3 .tongue,
#Su3 .profile-wrap,
#Su3 .name,
#Su3 .lip,
#Su3 .mouth,
#Su3 .eyebrow,
#Su3 .blush,
#Su3 .collar,
#Su3 .glasses {
  position: absolute;
}
/* line 54, Su3.scss */
#Su3 .container {
  position: absolute;
  margin: auto;
  bottom: 0;
  right: 0;
  left: 0;
  width: 200px;
  height: 200px;
}
/* line 64, Su3.scss */
#Su3 .profile {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border: 2px solid #FFF;
  overflow: hidden;
  background: #90c0e5;
}
/* line 74, Su3.scss */
#Su3 .group {
  left: -7px;
}
/* line 78, Su3.scss */
#Su3 .face {
  border-radius: 50%/50% 50% 40% 40%;
  -webkit-border-radius: 50%/50% 50% 40% 40%;
  -moz-border-radius: 50%/50% 50% 40% 40%;
  z-index: 20;
  top: 50px;
  left: 70px;
  width: 80px;
  height: 100px;
  background: #ffd1c2;
}
/* line 88, Su3.scss */
#Su3 .hair {
  z-index: 3;
  top: 30px;
  left: 56px;
  width: 111px;
  height: 143px;
  border-radius: 60%/50% 50% 40% 40%;
  -webkit-border-radius: 60%/50% 50% 40% 40%;
  -moz-border-radius: 60%/50% 50% 40% 40%;
  background: #310c0c;
}
/* line 97, Su3.scss */
#Su3 .hair:before, #Su3 .hair:after {
  position: absolute;
  content: '';
}
/* line 101, Su3.scss */
#Su3 .hair:before {
  top: 62px;
  left: 0;
  width: 21px;
  height: 73px;
  background: #310c0c;
  border-radius: 0 0 20px 81px;
  -webkit-border-radius: 0 0 20px 81px;
  -moz-border-radius: 0 0 20px 81px;
  transform: rotate(7deg);
}
/* line 110, Su3.scss */
#Su3 .hair:after {
  top: 62px;
  left: 87px;
  width: 21px;
  height: 73px;
  background: #310c0c;
  border-radius: 0 0 81px 20px;
  -webkit-border-radius: 0 0 81px 20px;
  -moz-border-radius: 0 0 81px 20px;
  transform: rotate(-7deg);
}
/* line 120, Su3.scss */
#Su3 .hair2 {
  z-index: 11;
  top: 30px;
  left: 57px;
}
/* line 125, Su3.scss */
#Su3 .hair2:before, #Su3 .hair2:after {
  position: absolute;
  content: '';
}
/* line 129, Su3.scss */
#Su3 .hair2:before {
  top: 60px;
  left: -9px;
  width: 37px;
  height: 78px;
  border-left: 15px solid #310c0c;
  border-right: 0 solid transparent;
  border-top: 0 solid  transparent;
  border-bottom: 0 solid  transparent;
  border-radius: 0 0 0 50%;
  -webkit-border-radius: 0 0 0 50%;
  -moz-border-radius: 0 0 0 50%;
  transform: rotate(11deg);
}
/* line 141, Su3.scss */
#Su3 .hair2:after {
  top: 60px;
  left: 64px;
  width: 37px;
  height: 78px;
  border-right: 15px solid #310c0c;
  border-left: 0 solid transparent;
  border-top: 0 solid  transparent;
  border-bottom: 0 solid  transparent;
  border-radius: 0 0 50% 0;
  -webkit-border-radius: 0 0 50% 0;
  -moz-border-radius: 0 0 50% 0;
  transform: rotate(-9deg);
}
/* line 155, Su3.scss */
#Su3 .ear {
  z-index: 4;
  top: 93px;
  left: 61px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  background: #ffd1c2;
}
/* line 163, Su3.scss */
#Su3 .ear:before {
  position: absolute;
  top: 8px;
  left: 4px;
  content: '';
  width: 20px;
  height: 15px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  background: #ED8A80;
}
/* line 175, Su3.scss */
#Su3 .ear.right {
  left: 130px;
}
/* line 178, Su3.scss */
#Su3 .fringe {
  z-index: 99;
  top: 40px;
  left: 73px;
  height: 19px;
  width: 72px;
  border-top: 50px solid #310c0c;
  border-left: 0 solid transparent;
  border-right: 0 solid transparent;
  border-bottom: 0 solid transparent;
  border-radius: 32px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
}
/* line 190, Su3.scss */
#Su3 .fringe:before {
  content: "";
  position: absolute;
  top: -8px;
  left: 55px;
  height: 10px;
  width: 2px;
  border-right: 3px solid #ffd1c2;
  border-radius: 0 100% 0 0;
  -webkit-border-radius: 0 100% 0 0;
  -moz-border-radius: 0 100% 0 0;
}
/* line 201, Su3.scss */
#Su3 .fringe:after {
  content: "";
  position: absolute;
  top: -13px;
  left: 17px;
  height: 15px;
  width: 3px;
  border-left: 3px solid #ffd1c2;
  border-radius: 100% 0 0 0;
  -webkit-border-radius: 100% 0 0 0;
  -moz-border-radius: 100% 0 0 0;
}
/* line 217, Su3.scss */
#Su3 .eyebrow {
  z-index: 300;
  top: 91px;
  left: 78px;
  width: 20px;
  height: 8px;
  border-top: 2px solid #646B73;
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
}
/* line 228, Su3.scss */
#Su3 .eyebrow:before {
  position: absolute;
  content: '';
  top: -3px;
  left: 41px;
  width: 20px;
  height: 8px;
  border-top: 2px solid #646B73;
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
}
/* line 242, Su3.scss */
#Su3 .glasses {
  z-index: 35;
  top: 96px;
  left: 66px;
  height: 16px;
  width: 33px;
  border: 3px solid #646B73;
  border-radius: 7px;
}
/* line 250, Su3.scss */
#Su3 .glasses::before {
  position: absolute;
  content: '';
  z-index: 35;
  top: -3px;
  left: 45px;
  height: 16px;
  width: 33px;
  border: 3px solid #646B73;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
}
/* line 261, Su3.scss */
#Su3 .glasses:after {
  position: absolute;
  content: '';
  z-index: 35;
  top: 5px;
  left: 32px;
  width: 15px;
  height: 15px;
  border-top: 3px solid #646B73;
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-radius: 10px;
}
/* line 277, Su3.scss */
#Su3 .eye {
  z-index: 30;
  top: 98px;
  left: 83px;
  width: 11px;
  height: 11px;
  /*border-top: 3px solid #424B54;
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;*/
  background: #424B54;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
}
/* line 289, Su3.scss */
#Su3 .eye:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 3px;
  height: 3px;
  background: white;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
}
/* line 300, Su3.scss */
#Su3 .eye.right {
  left: 126px;
}
/* line 305, Su3.scss */
#Su3 .blush {
  z-index: 999;
  top: 116px;
  left: 74px;
  width: 15px;
  height: 7px;
  background: #E3879E;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  opacity: 0.4;
}
/* line 314, Su3.scss */
#Su3 .blush:before {
  position: absolute;
  content: '';
  left: 57px;
  width: 15px;
  height: 7px;
  background: #E3879E;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
}
/* line 326, Su3.scss */
#Su3 .nose {
  z-index: 20;
  top: 107px;
  left: 101px;
  width: 13px;
  height: 9px;
  border-left: 2px solid transparent;
  border-bottom: 2px solid #424B54;
  border-right: 2px solid transparent;
  border-top: 2px solid transparent;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
}
/* line 340, Su3.scss */
#Su3 .mouth {
  z-index: 20;
  width: 40px;
  height: 20px;
  left: 87px;
  top: 108px;
  border-bottom: 2px solid #424B54;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
}
/* line 357, Su3.scss */
#Su3 .neck {
  z-index: 13;
  width: 25px;
  height: 30px;
  background: #ffd1c2;
  top: 130px;
  left: 97px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
}
/* line 366, Su3.scss */
#Su3 .bowtie {
  z-index: 14;
  top: 161px;
  left: 84px;
}
/* line 370, Su3.scss */
#Su3 .bowtie .leftCollar {
  z-index: 1;
  left: 3px;
  top: -4px;
  width: 0;
  height: 0;
  border-top: 20px solid #f9f9f9;
  border-right: 20px solid transparent;
  box-shadow: -2px -1px 0px grey;
  transform: rotate(-75deg);
  -webkit-transform: rotate(-75deg);
  /* Safari and Chrome */
  -moz-transform: rotate(-75deg);
  /* Firefox */
  -ms-transform: rotate(-75deg);
}
/* line 381, Su3.scss */
#Su3 .bowtie .leftCollar:before {
  content: "";
  position: absolute;
  top: 4px;
  left: 7px;
  width: 0;
  height: 0;
  border-top: 20px solid #f9f9f9;
  border-right: 20px solid transparent;
  box-shadow: -1px -2px 0px grey;
  transform: rotate(-126deg);
  -webkit-transform: rotate(-126deg);
  /* Safari and Chrome */
  -moz-transform: rotate(-126deg);
  /* Firefox */
  -ms-transform: rotate(-126deg);
}
/* line 397, Su3.scss */
#Su3 .bowtie .rightCollar {
  z-index: 0;
  top: 0;
  left: 9px;
  height: 0;
  width: 0;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-top: 30px solid #0f2848;
  transform: rotate(-1deg);
}
/* line 410, Su3.scss */
#Su3 .bowtie .rightCollar:before {
  content: "";
  position: absolute;
  top: -12px;
  left: -7px;
  width: 0;
  height: 0;
  border-top: 12px solid #f9f9f9;
  border-right: 10px solid transparent;
  box-shadow: -2px -1px 0px grey;
  transform: rotate(-68deg);
  -webkit-transform: rotate(-68deg);
  /* Safari and Chrome */
  -moz-transform: rotate(-68deg);
  /* Firefox */
  -ms-transform: rotate(-68deg);
}
/* line 423, Su3.scss */
#Su3 .bowtie .rightCollar:after {
  content: "";
  position: absolute;
  left: 0;
  top: -11px;
  width: 0;
  height: 0;
  border-top: 10px solid #f9f9f9;
  border-right: 10px solid transparent;
  box-shadow: -1px -2px 0px grey;
  transform: rotate(161deg);
  -webkit-transform: rotate(161deg);
  /* Safari and Chrome */
  -moz-transform: rotate(161deg);
  /* Firefox */
  -ms-transform: rotate(161deg);
}
/* line 439, Su3.scss */
#Su3 .body {
  z-index: 10;
  top: 150px;
  left: 65px;
  width: 90px;
  height: 150px;
  background: #f9f9f9;
  overflow: hidden;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}
/* line 448, Su3.scss */
#Su3 .body .collar {
  z-index: 14;
  background: #ffd1c2;
  top: -18px;
  left: 25px;
  width: 40px;
  height: 40px;
  transform: rotate(61deg) skew(35deg);
  -webkit-transform: rotate(61deg) skew(35deg);
  /* Safari and Chrome */
  -moz-transform: rotate(61deg) skew(35deg);
  /* Firefox */
  -ms-transform: rotate(61deg) skew(35deg);
}
/* line 461, Su3.scss */
#Su3 .cape {
  z-index: 4;
  top: 148px;
  left: 43px;
  width: 130px;
  height: 160px;
  background: #E15554;
  border-radius: 60px 60px 0 0;
}
/* line 471, Su3.scss */
#Su3 .logo {
  top: 10px;
  left: 16px;
  width: 27px;
  height: 15px;
  border-bottom: 20px solid #ECD688;
  border-left: 23px solid transparent;
  border-right: 22px solid transparent;
}
/* line 479, Su3.scss */
#Su3 .logo:before {
  position: absolute;
  content: '';
  top: 35px;
  left: -22px;
  border-top: 40px solid #ECD688;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
}
