/* line 49, Tsing.scss */
#Tsing .container,
#Tsing .face,
#Tsing .cap,
#Tsing .hair,
#Tsing .nose,
#Tsing .ear,
#Tsing .neck,
#Tsing .body,
#Tsing .bowtie,
#Tsing .logo,
#Tsing .group,
#Tsing .fringe,
#Tsing .eye,
#Tsing .dummyEye,
#Tsing .dummyBlush,
#Tsing .dummyMouth,
#Tsing .profile-card,
#Tsing .yes,
#Tsing .no,
#Tsing .info,
#Tsing .tongue,
#Tsing .profile-wrap,
#Tsing .name,
#Tsing .mouth,
#Tsing .eyebrow,
#Tsing .blush,
#Tsing .collar,
#Tsing .glasses {
  position: absolute;
}
/* line 54, Tsing.scss */
#Tsing .container {
  position: absolute;
  margin: auto;
  bottom: 0;
  right: 0;
  left: 0;
  width: 200px;
  height: 200px;
}
/* line 64, Tsing.scss */
#Tsing .profile {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border: 2px solid #FFF;
  overflow: hidden;
  background: #feeac9;
}
/* line 74, Tsing.scss */
#Tsing .group {
  left: -7px;
}
/* line 77, Tsing.scss */
#Tsing .deco {
  display: none;
}
/* line 80, Tsing.scss */
#Tsing .face {
  border-radius: 67px 100px 100px 100px;
  -webkit-border-radius: 67px 100px 100px 100px;
  -moz-border-radius: 67px 100px 100px 100px;
  z-index: 20;
  top: 50px;
  left: 65px;
  width: 90px;
  height: 100px;
  background: #F0BEAF;
}
/* line 89, Tsing.scss */
#Tsing .cap {
  z-index: 30;
  width: 100px;
  height: 40px;
  background: #4b3a3a;
  left: 59px;
  top: 30px;
  border-radius: 40px 40px 0 0;
}
/* line 97, Tsing.scss */
#Tsing .cap:after {
  content: "";
  z-index: 33;
  position: absolute;
  width: 102px;
  height: 55px;
  background: #999;
  left: 8px;
  top: -4px;
  transform: skew(-30deg) scaleY(0.5);
  border-radius: 100px 100px 0 0;
  border-top: 4px solid #181010;
}
/* line 112, Tsing.scss */
#Tsing .tohide .hair {
  z-index: 3;
  top: 30px;
  left: 60px;
  width: 100px;
  height: 120px;
  border-radius: 100px;
  background: #181010;
}
/* line 122, Tsing.scss */
#Tsing .tohide .body {
  z-index: 10;
  top: 150px;
  left: 65px;
  width: 90px;
  height: 150px;
  background: #5C5C5C;
  overflow: hidden;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}
/* line 131, Tsing.scss */
#Tsing .tohide .body .collar {
  position: absolute;
  content: '';
  top: -2px;
  left: 30px;
  width: 35px;
  height: 15px;
  border-radius: 0 0 100px 100px;
  background: #f0beaf;
  transform: scaleY(0.6);
}
/* line 145, Tsing.scss */
#Tsing .deco .hair {
  z-index: 3;
  top: 40px;
  left: 60px;
  width: 100px;
  height: 110px;
  border-radius: 39px 39px 100px 100px;
  background: #181010;
}
/* line 155, Tsing.scss */
#Tsing .deco .neck {
  z-index: 13;
  width: 30px;
  height: 30px;
  background: #f0beaf;
  top: 130px;
  left: 97px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
}
/* line 164, Tsing.scss */
#Tsing .deco .bowtie {
  z-index: 23;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 0;
  left: 92px;
  top: 147px;
  border: 20px solid #5C5C5C;
  border-top: 13px dotted rgba(0, 0, 0, 0);
  border-bottom: 13px dotted rgba(0, 0, 0, 0);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  font: normal 100%/normal Arial, Helvetica, sans-serif;
  -o-text-overflow: clip;
  text-overflow: clip;
}
/* line 178, Tsing.scss */
#Tsing .deco .bowtie::after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 14px;
  height: 11px;
  position: absolute;
  content: "";
  top: -6px;
  left: -7px;
  border: none;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  font: normal 16px/normal Arial, Helvetica, sans-serif;
  color: #5C5C5C;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #5C5C5C;
  text-shadow: none;
}
/* line 196, Tsing.scss */
#Tsing .deco .body {
  z-index: 10;
  top: 150px;
  left: 65px;
  width: 90px;
  height: 150px;
  background: #2e2e2e;
  overflow: hidden;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}
/* line 205, Tsing.scss */
#Tsing .deco .body .collar {
  top: 2px;
  left: 26px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 50px solid white;
}
/* line 217, Tsing.scss */
#Tsing .ear {
  z-index: 4;
  top: 93px;
  left: 55px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  background: #f0beaf;
}
/* line 225, Tsing.scss */
#Tsing .ear:before {
  position: absolute;
  top: 8px;
  left: 4px;
  content: '';
  width: 20px;
  height: 15px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  background: #ED8A80;
}
/* line 237, Tsing.scss */
#Tsing .ear.right {
  left: 137px;
}
/* line 241, Tsing.scss */
#Tsing .fringe {
  z-index: 99;
  top: 29px;
  left: 78px;
  width: 80px;
  height: 25px;
  background: #181010;
  border-radius: 100% 100% 0 0;
  -webkit-border-radius: 100% 100% 0 0;
  -moz-border-radius: 100% 100% 0 0;
  transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  /* Safari and Chrome */
  -moz-transform: rotate(10deg);
  /* Firefox */
  -ms-transform: rotate(10deg);
}
/* line 251, Tsing.scss */
#Tsing .fringe:before {
  position: absolute;
  content: '';
  top: 18px;
  left: 50px;
  width: 25px;
  height: 28px;
  border-right: 8px solid #181010;
  border-left: 8px solid transparent;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-radius: 0 0 25px 0;
  -webkit-border-radius: 0 0 25px 0;
  -moz-border-radius: 0 0 25px 0;
  transform: rotate(-25deg);
  -webkit-transform: rotate(-25deg);
  /* Safari and Chrome */
  -moz-transform: rotate(-25deg);
  /* Firefox */
  -ms-transform: rotate(-25deg);
}
/* line 269, Tsing.scss */
#Tsing .eyebrow {
  z-index: 300;
  top: 82px;
  left: 75px;
  width: 23px;
  height: 8px;
  border-top: 3px solid #646B73;
  border-bottom: 0 solid transparent;
  border-left: 0 solid transparent;
  border-right: 0 solid transparent;
  border-radius: 100%;
  -webkit-transform: translateZ(1px) rotate(13deg);
  transform: translateZ(1px) rotate(13deg);
}
/* line 282, Tsing.scss */
#Tsing .eyebrow:before {
  position: absolute;
  content: '';
  top: -13px;
  left: 46px;
  width: 23px;
  height: 8px;
  border-top: 3px solid #646B73;
  border-bottom: 0 solid transparent;
  border-left: 0 solid transparent;
  border-right: 0 solid transparent;
  border-radius: 100%;
  transform: rotate(-25deg);
}
/* line 297, Tsing.scss */
#Tsing .glasses {
  z-index: 35;
  top: 93px;
  left: 66px;
  height: 18px;
  width: 35px;
  border: 3px solid #646B73;
  border-radius: 7px;
}
/* line 305, Tsing.scss */
#Tsing .glasses::before {
  position: absolute;
  content: '';
  z-index: 35;
  top: -3px;
  left: 45px;
  height: 18px;
  width: 35px;
  border: 3px solid #646B73;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
}
/* line 316, Tsing.scss */
#Tsing .glasses:after {
  position: absolute;
  content: '';
  z-index: 35;
  top: 5px;
  left: 34px;
  width: 13px;
  height: 15px;
  border-top: 3px solid #646B73;
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-radius: 10px;
}
/* line 332, Tsing.scss */
#Tsing .eye {
  z-index: 30;
  top: 101px;
  left: 97px;
  width: 5px;
  height: 5px;
  background: #424B54;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
}
/* line 341, Tsing.scss */
#Tsing .eye.right {
  left: 120px;
}
/* line 344, Tsing.scss */
#Tsing .dummyEye {
  z-index: 30;
  top: 101px;
  left: 92px;
  width: 5px;
  height: 5px;
  background: #424B54;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
}
/* line 353, Tsing.scss */
#Tsing .dummyEye.right {
  left: 125px;
}
/* line 357, Tsing.scss */
#Tsing .blush {
  z-index: 999;
  top: 113px;
  left: 70px;
  width: 15px;
  height: 7px;
  background: #E3879E;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  opacity: 0.4;
}
/* line 366, Tsing.scss */
#Tsing .blush:before {
  position: absolute;
  content: '';
  left: 65px;
  width: 15px;
  height: 7px;
  background: #E3879E;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
}
/* line 376, Tsing.scss */
#Tsing .dummyBlush {
  z-index: 999;
  top: 105px;
  left: 72px;
  width: 25px;
  height: 25px;
  background: #E3879E;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  opacity: 0.4;
}
/* line 385, Tsing.scss */
#Tsing .dummyBlush:before {
  position: absolute;
  content: '';
  left: 53px;
  width: 25px;
  height: 25px;
  background: #E3879E;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
}
/* line 396, Tsing.scss */
#Tsing .nose {
  z-index: 20;
  top: 110px;
  left: 106px;
  width: 8px;
  height: 17px;
  border-top: 2px solid #424B54;
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-radius: 100px;
}
/* line 410, Tsing.scss */
#Tsing .mouth {
  z-index: 20;
  top: 120px;
  left: 93px;
  width: 35px;
  height: 13px;
  border-radius: 0 0 50px 50px;
  border-bottom: 4px solid #424B54;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  -webkit-transform: translateZ(1px) scaleY(0.5);
  transform: translateZ(1px) scaleY(0.5);
}
/* line 424, Tsing.scss */
#Tsing .dummyMouth {
  z-index: 20;
  top: 110px;
  left: 102px;
  width: 15px;
  height: 10px;
  border-top: 1px solid #424B54;
  border-right: 1px solid #424B54;
  border-left: 1px solid #424B54;
  border-radius: 0 0 100% 100%;
  background: #fa5151;
}
/* line 438, Tsing.scss */
#Tsing .tongue {
  top: 5px;
  left: 8px;
  width: 30px;
  height: 20px;
  background: #f6828c;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
}
/* line 447, Tsing.scss */
#Tsing .neck {
  z-index: 13;
  width: 30px;
  height: 30px;
  background: #f0beaf;
  top: 130px;
  left: 97px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
}
