/* line 34, Tsing.scss */
#Tsing .container,
#Tsing .face,
#Tsing .cap,
#Tsing .hair,
#Tsing .nose,
#Tsing .ear,
#Tsing .neck,
#Tsing .body,
#Tsing .cape,
#Tsing .logo,
#Tsing .group,
#Tsing .fringe,
#Tsing .eye,
#Tsing .profile-card,
#Tsing .yes,
#Tsing .no,
#Tsing .info,
#Tsing .tongue,
#Tsing .profile-wrap,
#Tsing .name,
#Tsing .mouth,
#Tsing .eyebrow,
#Tsing .blush,
#Tsing .collar,
#Tsing .glasses {
  position: absolute;
}
/* line 39, Tsing.scss */
#Tsing .container {
  position: absolute;
  margin: auto;
  bottom: 0;
  right: 0;
  left: 0;
  width: 200px;
  height: 200px;
}
/* line 49, Tsing.scss */
#Tsing .profile {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border: 2px solid #FFF;
  overflow: hidden;
  background: #feeac9;
}
/* line 59, Tsing.scss */
#Tsing .group {
  left: -7px;
}
/* line 63, Tsing.scss */
#Tsing .face {
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  z-index: 20;
  top: 50px;
  left: 65px;
  width: 90px;
  height: 100px;
  background: #F0BEAF;
}
/* line 72, Tsing.scss */
#Tsing .cap {
  z-index: 30;
  width: 100px;
  height: 40px;
  background: #4b3a3a;
  left: 59px;
  top: 30px;
  border-radius: 40px 40px 0 0;
}
/* line 80, Tsing.scss */
#Tsing .cap:after {
  content: "";
  z-index: 33;
  position: absolute;
  width: 102px;
  height: 55px;
  background: #999;
  left: 8px;
  top: -4px;
  transform: skew(-30deg) scaleY(0.5);
  border-radius: 100px 100px 0 0;
  border-top: 4px solid #181010;
}
/* line 94, Tsing.scss */
#Tsing .hair {
  z-index: 3;
  top: 30px;
  left: 60px;
  width: 100px;
  height: 120px;
  border-radius: 100px;
  background: #181010;
}
/* line 105, Tsing.scss */
#Tsing .ear {
  z-index: 4;
  top: 93px;
  left: 55px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  background: #f0beaf;
}
/* line 113, Tsing.scss */
#Tsing .ear:before {
  position: absolute;
  top: 8px;
  left: 4px;
  content: '';
  width: 20px;
  height: 15px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  background: #ED8A80;
}
/* line 125, Tsing.scss */
#Tsing .ear.right {
  left: 137px;
}
/* line 129, Tsing.scss */
#Tsing .fringe {
  z-index: 99;
  top: 90px;
  left: 125px;
  width: 25px;
  height: 60px;
  border-radius: 0 0 50px 50px;
  border-right: 3px solid #181010;
}
/* line 137, Tsing.scss */
#Tsing .fringe:before {
  position: absolute;
  content: '';
  top: 0;
  left: -58px;
  width: 25px;
  height: 60px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-left: 3px solid #181010;
  border-radius: 0 0 50px 50px;
}
/* line 150, Tsing.scss */
#Tsing .eyebrow {
  z-index: 300;
  top: 82px;
  left: 75px;
  width: 23px;
  height: 8px;
  border-top: 3px solid #646B73;
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-radius: 100%;
  transform: rotate(13deg);
}
/* line 162, Tsing.scss */
#Tsing .eyebrow:before {
  position: absolute;
  content: '';
  top: -13px;
  left: 46px;
  width: 23px;
  height: 8px;
  border-top: 3px solid #646B73;
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-radius: 100%;
  transform: rotate(-25deg);
}
/* line 177, Tsing.scss */
#Tsing .glasses {
  z-index: 35;
  top: 93px;
  left: 66px;
  height: 18px;
  width: 35px;
  border: 3px solid #646B73;
  border-radius: 7px;
}
/* line 185, Tsing.scss */
#Tsing .glasses::before {
  position: absolute;
  content: '';
  z-index: 35;
  top: -3px;
  left: 45px;
  height: 18px;
  width: 35px;
  border: 3px solid #646B73;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
}
/* line 196, Tsing.scss */
#Tsing .glasses:after {
  position: absolute;
  content: '';
  z-index: 35;
  top: 5px;
  left: 34px;
  width: 13px;
  height: 15px;
  border-top: 3px solid #646B73;
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-radius: 10px;
}
/* line 212, Tsing.scss */
#Tsing .eye {
  z-index: 30;
  top: 97px;
  left: 76px;
  width: 25px;
  height: 11px;
  border-top: 2px solid #424B54;
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-radius: 40%;
  -webkit-border-radius: 40%;
  -moz-border-radius: 40%;
}
/* line 223, Tsing.scss */
#Tsing .eye:before {
  position: absolute;
  content: '';
  top: -2px;
  left: 8px;
  width: 8px;
  height: 8px;
  background: #424B54;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
}
/* line 234, Tsing.scss */
#Tsing .eye.right {
  left: 120px;
}
/* line 239, Tsing.scss */
#Tsing .blush {
  z-index: 999;
  top: 113px;
  left: 70px;
  width: 15px;
  height: 7px;
  background: #E3879E;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  opacity: 0.4;
}
/* line 248, Tsing.scss */
#Tsing .blush:before {
  position: absolute;
  content: '';
  left: 65px;
  width: 15px;
  height: 7px;
  background: #E3879E;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
}
/* line 260, Tsing.scss */
#Tsing .nose {
  z-index: 20;
  top: 110px;
  left: 106px;
  width: 8px;
  height: 17px;
  border-top: 2px solid #424B54;
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-radius: 100px;
}
/* line 274, Tsing.scss */
#Tsing .mouth {
  z-index: 20;
  top: 120px;
  left: 93px;
  width: 35px;
  height: 13px;
  border-radius: 0 0 50px 50px;
  border-bottom: 4px solid #424B54;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  transform: scaleY(0.5);
}
/* line 288, Tsing.scss */
#Tsing .tongue {
  top: 5px;
  left: 8px;
  width: 30px;
  height: 20px;
  background: #f6828c;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
}
/* line 297, Tsing.scss */
#Tsing .neck {
  z-index: 13;
  width: 30px;
  height: 30px;
  background: #f0beaf;
  top: 130px;
  left: 97px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
}
/* line 307, Tsing.scss */
#Tsing .body {
  z-index: 10;
  top: 150px;
  left: 65px;
  width: 90px;
  height: 150px;
  background: #5C5C5C;
  overflow: hidden;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}
/* line 316, Tsing.scss */
#Tsing .body .collar {
  position: absolute;
  content: '';
  top: -2px;
  left: 30px;
  width: 35px;
  height: 15px;
  border-radius: 0 0 100px 100px;
  background: #f0beaf;
  transform: scaleY(0.6);
}
/* line 329, Tsing.scss */
#Tsing .cape {
  z-index: 4;
  top: 148px;
  left: 43px;
  width: 130px;
  height: 160px;
  background: #E15554;
  border-radius: 60px 60px 0 0;
}
/* line 339, Tsing.scss */
#Tsing .logo {
  top: 10px;
  left: 16px;
  width: 27px;
  height: 15px;
  border-bottom: 20px solid #ECD688;
  border-left: 23px solid transparent;
  border-right: 22px solid transparent;
}
/* line 347, Tsing.scss */
#Tsing .logo:before {
  position: absolute;
  content: '';
  top: 35px;
  left: -22px;
  border-top: 40px solid #ECD688;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
}
