$skin: #F0BEAF;
$hair: #2d2720;
$pink: #F6828C;
$cloth:#7b9c98;
$blue:#98ddff;
@mixin border($b) {
  border-radius: $b;
  -webkit-border-radius: $b;
  -moz-border-radius: $b;
}
@mixin transform($t) {
  transform: $t;
  -webkit-transform: $t;/* Safari and Chrome */
  -moz-transform: $t;/* Firefox */
  -ms-transform: $t;
}


#Yoga{
.container,
.face,
.hair,
.nose,
.ear,
.neck,
.body,
.cape,
.logo,
.group,
.fringe,
.eye,
.profile-card,
.bowtie,
.front,
.back,
.info,
.teeth,
.tongue,
.profile-wrap,
.name,
.lip,
.mouth,
.eyebrow,
.blush,
.collar,
.glasses {
  position: absolute;
}


.container {
  position: absolute;
  margin: auto;
  bottom: 0;
  right: 0;
  left: 0;
  width: 200px;
  height: 200px;
}

.profile {
  position: relative;
  width: 200px;
  height: 200px;
  @include border(100%);
  border: 2px solid #FFF;
  overflow: hidden;
  background: #e4d3e4;
}

.group {
  left: -7px;
  top: -5px;
}

.face {
  @include border(100px);
  z-index: 20;
  top: 58px;
  left: 70px;
  width: 80px;
  height: 95px;
  background: $skin;
}

.hair {
  z-index: 3;
  top: 30px;
  left: 60px;
  width: 105px;
  height: 155px;
  @include border(100px 100px 20px 20px) ;
  background: $hair;

  &:before,
  &:after {
    position: absolute;
    content: '';
  }
  &:before {
    position: absolute;
    content: '';
    top: 95px;
    left: -6px;
    width: 37px;
    height: 50px;
    background: $hair;
    @include border(0 0 50px 50px);
    transform: rotate(16deg);
  }
  &:after {
    position: absolute;
    content: '';
    top: 74px;
    left: 72px;
    width: 37px;
    height: 70px;
    background: $hair;
    @include border(0 0 50px 50px);
    transform: rotate(-20deg);
  }
}

.ear {
  z-index: 4;
  top: 93px;
  left: 61px;
  width: 30px;
  height: 30px;
  @include border(100%);
  background: $skin;
  &:before {
    position: absolute;
    top: 8px;
    left: 4px;
    content: '';
    width: 20px;
    height: 15px;
    @include border(100%);
    background: #ED8A80;
  }
}

.ear.right {
  left: 130px;
}
.fringe{
  z-index: 99;
  top: 25px;
  left: 62px;
  //background: $hair;
  border-left: 20px solid $hair;
  border-top: 20px solid transparent;
  height: 121px;
  width:85px;
  @include border(100%);
  @include transform(rotate(22deg));
  &:before{
    content:"";
    position: absolute;
    top: -18px;
    left: -30px;
    border-right: 20px solid $hair;
    border-top: 20px solid transparent;
    height: 121px;
    width:85px;
    @include border(100%);
    @include transform(rotate(-46deg));
  }
}



.eyebrow {
  z-index: 98;
  top: 89px;
  left: 78px;
  width: 18px;
  height: 8px;
  border-top: 3px solid #646B73;
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  //@include border(100%);
  &:before {
    position: absolute;
    content: '';
    top: -3px;
    left: 43px;
    width: 18px;
    height: 8px;
    border-top: 3px solid #646B73;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    //@include border(100%);
}
}


.eye {
  z-index: 30;
  top: 100px;
  left: 78px;
  width: 16px;
  height: 8px;
  //background:#424B54;
  background: white;
  border:2px solid #424B54;
  border-top: 3px solid #424B54;
  @include border(100%);

  &:before {
    position: absolute;
    content: '';
    top: -2px;
    left: 3px;
    width: 11px;
    height: 11px;
    background: #424B54;
    //border-left: 2px solid #424B54;
    //border-right: 1px solid transparent;
    //border-top: 1px solid transparent;
    //border-bottom: 1px solid transparent;
    @include border(100%);
    //transform: rotate(-45deg);
  }
}
.eye.right{
  left: 121px;
}


.blush {
  z-index: 999;
  top: 118px;
  left: 77px;
  width: 15px;
  height: 7px;
  background: #E3879E;
  @include border(100%);
  opacity: 0.4;
  &:before{
    position: absolute;
    content: '';
    left: 52px;
    width: 15px;
  height: 7px;
  background: #E3879E;
  @include border(100%);

  }
}

.nose {
  z-index: 20;
  top: 105px;
  left: 107px;
  width: 4px;
  height: 15px;
  border-left: 2px solid transparent;
  border-bottom: 2px solid #424B54;
  border-right: 1px solid transparent;
  border-top: 1px solid transparent;
  border-radius: 0 0 0 5px;
  transform: rotate(25deg);
}
.lip{
  z-index: 21;
  top: 119px;
  left: 94px;
  &:after,&:before{
    content:"";
    position: absolute;
  }
  &:before{
    left: 0;
   top: 8px;
   width: 10px;
   height: 3px;
   border-left: 1px solid #424B54;
   border-top: 0 solid transparent;
   border-bottom: 0 solid transparent;
   border-right: 0 solid transparent;
   @include transform(rotate(10deg));
  }
  &:after{
    left: 21px;
   top: 8px;
   width: 10px;
   height: 3px;
   border-right: 1px solid #424B54;
   border-top: 0 solid transparent;
   border-left: 0 solid transparent;
   border-bottom: 0 solid transparent;
   @include transform(rotate(-10deg));
  }
}

.mouth {
  z-index: 20;
  top: 124px;
  left: 100px;
  width: 20px;
  height: 10px;
  border-bottom: 2px solid #424B54;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  @include border(100%);
}

.teeth {
  top: -10px;
  left: 6px;
  width: 18px;
  height: 8px;
  //background: white;
  border-bottom: 8px solid white;
  border-top: 1px solid transparent;
  @include border(10px);
}
.tongue {
  top: 10px;
  left: 6px;
  width: 20px;
  height: 5px;
  background: $pink;
  border-top: 1px solid transparent;
  @include border(100%);
}

.neck {
  z-index: 13;
  width: 25px;
  height: 30px;
  background: $skin;
  top: 135px;
  left: 97px;
  @include border(100%);
}

.body {
  z-index: 10;
  top: 156px;
  left: 65px;
  width: 90px;
  height: 150px;
  background: $cloth;
  overflow: hidden;
  @include border(100px);
  .collar{
    z-index: 14;
    background: $skin;
    top: -14px;
    left: 27px;
    width: 35px;
    height:35px;
    //border-right: 5px solid $blue;
    //border-bottom: 5px solid $blue;
    @include border(100%);
  }
}




}
